div.well
  form(enctype="multipart/form-data", method="post", name="postForm", ng-submit="postFormSubmit(post)")
    label Title
    input(type="text", ng-model="post.title", style="width: 90%; margin-left: 10px")
    br

    label Body
    br
    textarea.add-blog-textarea(ng-model="post.body")

    label Preview
    br
    btf-markdown.blog-display-preview(ng-show="post.body", style="display: inline-block", ng-model="post.body")
    br

    label Tags
    br
    div
      label new &nbsp;
      input(style="display: inline-block", type="text", ng-model="tag.name")
      label background
      input(style="display: inline-block", type="color", ng-model="tag.color")
      label text
      input(style="display: inline-block", type="color", ng-model="tag.textColor")
      a.btn.btn-small.btn-primary(ng-click="addNewTag(tag)") add tag
      span &nbsp; | existing tags
      select(ng-model="selectedTag", ng-change="addTag(selectedTag)", ng-options="tag.name for tag in tags track by tag.name")

    br
    div
      label added tags &nbsp;
      span.label.label-info(ng-repeat="tag in post.tags", style="color: {{tag.textColor}}; background-color: {{tag.color}}; margin-right: 2px")
        span {{tag.name}}
        i.glyphicon.glyphicon-remove.btn-close(ng-click="removeTag($index)")

    br
    div
      label Go Live?
      input(type="checkbox", ng-model="post.live")
    br
    label Blog Pics
    input.btn.btn-primary.pull-right(type="submit", value="Post")
    a.btn.btn-success.pull-right(style="margin-right: 2px", ng-click="quickSave(post)") Save
    input#postPics(type="file", multiple)
    br

    div(ng-show="post.pics", ng-repeat="pic in post.pics")
      img.limit-image-size(ng-src="{{pic._downloadURL}}")
      i.glyphicon.glyphicon-remove.btn-close(ng-click="removeImage($index)")

