
div.well.row
  h1 Specialize in web apps that are built fast, effcient, and smart.
  ul
    li AngularJS
    li NodeJS
    li Kinvey (Backend as a Service)


  h3 Pricing
  p Week based
  p Value based
  p Starts at $2500 a week
  p Emergency Maintence or projects are $150/hr
  p Pay a week a head
