
div.row()
  div.row
    div.outer-center(ng-show="spinnerShowing")
      img.inner-center(src="img/blue-black-spinner.gif")
    div.col-12.well(ng-repeat="post in posts | filter: search", style="margin-bottom: 10px")
      div.col-sm-12
        h4.pull-right {{post.datetime | date: 'mediumDate'}}
        a(href="post/{{post._id}}")
          h2 {{post.title}}

      div.col-sm-12
        p.meta-blog.clearfix
          i.glyphicon.glyphicon-comment.buffer-right
          a(href="post/{{post._id}}") {{post.comments.length}} Comments
          span.buffer |
          i.glyphicon.glyphicon-share.buffer-right
          a() {{post.shares.length}} shares
          span.buffer |
          i.glyphicon.glyphicon-user.buffer-right
          a() {{post.username}}
          span.buffer |
          i.glyphicon.glyphicon-tag.buffer-right
          span.buffer-right Tags:
          a.cancel-pointer
            span.label.label-info(ng-repeat="tag in post.tags", style="color: {{tag.textColor}}; background-color: {{tag.color}}; margin-right: 2px")
              span {{tag.name}}

      div.col-sm-4
        img.img-rounded.img-responsive(ng-show="post.pics.length == 1", ng-src="{{post.pics[0]._downloadURL}}", alt="post pic", width="100%")
        carousel(ng-show="post.pics.length > 1", interval="7000")
          slide(ng-repeat="slide in post.pics", active="slide.active")
            img(ng-src="{{slide._downloadURL}}", style="margin:auto;", alt="post pic", width="100%")

      div.caption.col-sm-8.blog-post
        btf-markdown(ng-model="post.body")
      p.row
        a(ng-show="user.username == post.username", href="editPost/{{post._id}}", style="position: absolute; bottom: 10px; right: 145px;") Edit
        a(href="post/{{post._id}}", style="position: absolute; bottom: 10px; right: 25px;") Read More...
div
  div.side-bar(ng-class="{false:'right-side-bar-closed', true: 'right-side-bar-open'}[showSideBar]")
    div.well.inner-bar
      div.bar-tab.bar-right(ng-click="showSideBar = !showSideBar")
        div.bar-tab-icon-right
          span.glyphicon(ng-class="{true:'glyphicon-chevron-right', false:'glyphicon-chevron-left'}[showSideBar]")
      div.row
        h2() Search
        input(type="text", ng-model="search.body")
        hr
      div.row
        h2
          span Tags
          //i.glyphicon.glyphicon-tags


        div(ng-repeat="tag in tags", style="margin: 2px; width: 90%;")
          a.label.label-info(ng-class="{true:'selected-tag', false:''}[tagSelected(tag.name)]",
          style="color: {{tag.textColor}}; background-color: {{tag.color}};",
          ng-click="addTagSearch(tag.name, $index)") {{tag.name}}
