

div
  header.header
    h1#title James Brinkerhoff's Portfolio
    p#contactInfo
      | E-Mail:
      a.contact-highlight.highlight-hover(href='mailto:th3brink@gmail.com') th3brink@gmail.com
      | | Phone:
      a.contact-highlight.highlight-hover(href='tel:8018575739') 801-857-5739
      | | GitHub:
      a.contact-highlight.highlight-hover(href='https://github.com/th3brink', target='_blank')  @th3brink
      | | LinkedIn:
      a.contact-highlight.highlight-hover(href='http://www.linkedin.com/in/jamesbrinkerhoff', target='_blank')  @jamesbrinkerhoff
      | | Twitter:
      a.contact-highlight.highlight-hover(href='http://twitter.com/the_brink', target='_blank')  @the_brink

  #main
    nav#mainNav
      a(href='#showcase') Showcase
      a(href='#projectsTitle') Projects
      a(href='#skills') Skills
      a(href='#workTitle') Work
      a(href='#education') Education
      a(href='#aboutMe') About Me
      a(href='#blog') Blog
    #showcase.divider
      h3 Showcase
    ul.hoverbox
      li.showcaseItem
        a(href='#')
          img.smallItem(src='img/showcase/NovatekDotNet.PNG')
          img.preview(src='img/showcase/NovatekDotNet.PNG')
      li.showcaseItem
        a(href='#')
          img.smallItem(src='img/showcase/WekGamer.PNG')
          img.preview(src='img/showcase/WekGamer.PNG')
      li.showcaseItem
        a(href='#')
          img.smallItem(src='img/showcase/BusinessCentral-Screenshot.PNG')
          img.preview(src='img/showcase/BusinessCentral-Screenshot.PNG')
      li.showcaseItem
        a(href='#')
          img.smallItem(src='img/showcase/SilverWoodMng.PNG')
          img.preview(src='img/showcase/SilverWoodMng.PNG')
      li.showcaseItem
        a(href='#')
          img.smallItem(src='img/showcase/LoL_counter_builds.png')
          img.preview(src='img/showcase/LoL_counter_builds.png')

    #projectsTitle.divider
      h3 Projects
    #projects.content
      a.contact-highlight.highlight-hover(href='http://www.brinksnetwork.com', target='_blank') BrinksNetwork.com
      a.contact-highlight.highlight-hover(href='http://silverwoodmanagement.brinksnetwork.com/', target='_blank') Silverwood Management
      a.contact-highlight.highlight-hover WEKGamer
      a.contact-highlight.highlight-hover Novatek Patent Module
      a.contact-highlight.highlight-hover Brinkerhoff Insurance
      a.contact-highlight.highlight-hover Business Central
    #skills.divider
      h3 Skills

    #languages.content
      h4.contact-highlight Programming Languages
      ul
        li
          | JavaScript - three years
          ul
            li jQuery
            li Angular.js
            li Backbone.js
            li Node.js
        li
          | HTML5 - four years
        li
          | CSS3 - four years
        li
          | Python - four years
          ul
            li Django - one year
            li PyGame - one year
        li
          | Some Experience with Java
          ul
            li Android - one year
        li
          | Proficiency with C++ - three years
        li
          | Proficiency with PHP - two years
      h4.contact-highlight Computer Science
      ul
        li Software Engineering
        li Agile software Development (Scrum)
        li Experience in application, web, mobile, and game development
        li Website Development: front end, back end
    .content
      h4.contact-highlight Information Technology
      ul
        li Thirteen years of working with/on computers
        li Repair and build computers at an advanced level
        li Proficient Microsoft Word, Microsoft Excel, and PowerPoint Knowledge
        li Can setup and maintain Linux Servers
      h4.contact-highlight Design
      ul
        li Moderate Knowledge of Photoshop
        li Minor experience in XML
        li Two years of Gimp experience
        li One year of UI design and programming
      h4.contact-highlight Operating Systems
      ul
        li Advanced Knowledge of Windows 7/8
        li Proficient With Linux: Ubuntu and Fedora
        li Proficient With OSX and iOS
      h4.contact-highlight Languages
      ul
        li English
        li Russian
    #workTitle.divider
      h3 Work

    work.content.college
      a(href='https://www.theredx.com/', target='_blank')
        img.redx-color(style='margin-top: 10px;', src='img/REDX_Logo_Main_Banner.png')
      h4 The REDX
      .college
        p Duration: 2013-Present | Position: Software Engineer | Location: Orem, UT
        table
          tr
            td
              ul
                li
                  | Web Apps (Single Page Applications)
                li
                  | Languages: JavaScript, HTML5, CSS3
                li
                  | Tools: Webstorm, Karma, GIMP
                li
                  | Backend: MongoDB, MySQL, Node.js/Express.js
                li
                  | Agile Development with SCRUM
              td
                ul
                  li
                    | Frontend Development | UI/UX
                    ul
                      li AngularJS
                      li jQuery
                      li Express.js
                      li Stylus

    work.content.college
      a(href='http://www.novatek.com', target='_blank')
        img(style='margin-top: 10px;', src='img/novatek_logo.png')
      h4 Novatek, Inc.
      .college
        p Duration: 2011-2013 | Position: Web Software Engineer | Location: Provo, UT
        table
          tr
            td
              ul
                li
                  | Web App Development
                li
                  | Languages: JavaScript, HTML 5, CSS, PHP
                li
                  | Tools: Notepad++, Aptana Studio (eclipse),  Webstorm, Gimp, FileZilla
                li
                  | Custom Framework Development (NUI)
                li
                  | Agile Development with SCRUM
              td
                ul
                  li
                    | Responsible for the Patent and Legal Modules
                    ul
                      li Database
                      li Search
                      li Reports/Exports
                      li Data Mining



    #education.divider
      h3 Education
    .content.college
      a(href='http://www.uvu.edu', target='_blank')
        img(src='img/UVULogo.gif')
      h4 Utah Valley University
      .college
        p Duration: 2011-2014 | Goal: Computer Science | Location: Orem, UT
        ul
          li
            | Fifth year of college working towards a Bachelors in Computer Science with a minor in Business.
          li CS 2300 - Discrete Structures I
          li CS 2600 - Computer Networks I
          li CS 3250 - Java Software Development
          li CS 3540 - Game Programming
          li CS 3550 - Internet Software Development
          li CS 3680 - Mobile Device Programming
    .content.college
      a(href='http://www.dixie.edu', target='_blank')
        img(style='background-color: #8E1520; margin-top: 5px;', src='img/www.dixie.png')
      h4 Dixie College
      .college
        p
          | Duration: 2008-2011 | Goal: CIT: Computer Science | Location: St. George, UT
        ul
          li
            | Three years obtaining general credits and first two years of computer science.
          li CS 1400 - Fundamentals of Programming
          li CS 1410 - Object Oriented Programming
          li CS 2420 - Introduction to Algorithms and Data Structures
          li CS 2450 - Software Engineering
          li CS 2810 - Computer Organization and Architecture
          li CS 3005 - Programming in C++
          li IT 1100 - Introduction to Operating Systems
          li IT 2400 - Introduction to Networking
          li IT 3100 - Systems Design and Administration I
          li IT 4300 - Introduction to Databases
          li VT 1400 - Introduction to Internet Development
    #aboutMe.divider
      h3 About Me
    .content.about
      h4.contact-highlight Technology
      p
        | I have been working with computers since I was 12 years old, which was also the age I built my first computer. I repaired computers for 5 years before switching to programming. I still retain all my repair skills and server skills, but my
        | emphasis has been programming for the past 5 years. I have studied C++, Python, and JavaScript, and I am currently working on heavy JavaScript and python projects.

    .content.about
      h4.contact-highlight Life Achievements
      ul
        li
          | I obtained my Eagle Scout at age sixteen.
        li
          | I served a religious mission for two years in Russia. From this, I learned leadership, people skills, discipline, and the Russian language.
        li
          | I worked on a family ranch for seven years, learning dedication and work ethic.
    #qualificationsSummary.content
      h4.contact-highlight Summary of Qualifications
      ul
        li
          | Two years successful experience in direct sales of a range of products and services.
        li Extensive practical hands-on experience as owner of a small business.
        li Motivated and enthusiastic about developing good relations with clients.
        li Effective working alone or as a cooperative team member.
        li Professional in appearance and presentation.

    #blog.divider
      h3 Blog
    .content
      article
        | Coming Soon...
  footer.footer
    p#copyright James Brinkerhoff copyright ⓒ 2014
    #footerContent

      a(href='http://www.linkedin.com/in/jamesbrinkerhoff')
        img(src='http://www.linkedin.com/img/webpromo/btn_viewmy_160x33.png', width='160', height='33', border='0', alt='View James Brinkerhoff\'s profile on LinkedIn')
        script(type='text/javascript')
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-38590378-1']);
          _gaq.push(['_setDomainName', 'brinksnetwork.com']);
          _gaq.push(['_trackPageview']);
          (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
