doctype 5
html(ng-app="th3brink", lang="en")
  head
    base(href='/')
    title= title
    meta(name='description', content='JavaScript, HTML, HTML 5, CSS, CSS3, Java, Android, iPhone, iPad, Windows 7, Linux, Mac, PHP, Python, C++, C#, showcases, and development and programming skills of James Brinkerhoff')
    meta(http-equiv='content-type', content='text/html;charset=UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/jquery.reject.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-glyphicons.css')
    //link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/angular-csp.css')
    link(rel='stylesheet', href='/css/main.css')

  body(ng-controller="MainCtrl")
    div.container(ng-controller="LoginCtrl")
      div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        div.container
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-responsive-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar

        a.navbar-brand James Brinkerhoff | th3brink
        div.nav-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li(ng-class="{true:'active', false: ''}[navLocation == 'blog']")
              a(href="/") Blog
            li(ng-class="{true:'active', false: ''}[navLocation == 'portfolio']")
              a(href="/portfolio") Th3 Portfolio
            //li(ng-class="{true:'active', false: ''}[navLocation == 'gamer']")
              a(href="/gamer") Th3 Gamer
            //li(ng-class="{true:'active', false: ''}[navLocation == 'freelance']")
              a(href="/freelance") Freelance

          ul.nav.navbar-nav.pull-right.ng-cloak
            li(ng-hide="user.type")
              a(ng-click="loginBox = true") login/create
            li.btn-group(ng-show="user.type", style="margin-top: 6px", dropdown)
              button.btn.btn-default(type="button")
                i.glyphicon.glyphicon-user
                span.icon-buffer-left {{user.username}}
              button.btn.btn-default.dropdown-toggle(type="button", toggle-dropdown)
                span.caret
                span.sr-only
              ul.dropdown-menu(role="menu")
                li(ng-show="user.type === 'admin'")
                  a(href="/addPost") Add Post
                li(ng-show="user.type === 'admin'")
                  a(href="/addPortfolio") Add Portfolio
                li(ng-show="user.type === 'admin'")
                  a(href="/managePosts") Manage Posts
                li(ng-show="user.type === 'admin'")
                  a(href="/managePortfolio") Manage portfolio
                li(ng-show="user.type === 'admin'")
                  a(href="/learnMyWords") Learn My Words
                li
                  a(ng-click="logout()") Logout

      include /partials/includes/login

      div(ng-view)

    //script(src="js/jquery-2.0.3.min.js")
    script(src="js/jquery-2.0.3.js")
    //script(src="js/jquery-2.0.3.min.map")
    script(src="js/jquery.reject.min.js")
    script(src="js/rejectBrowser.js")
    //script(src="//da189i1jfloii.cloudfront.net/js/kinvey-html5-1.1.3.min.js")
    //script(src="js/angular.min.js")
    script(src="js/angular.js")
    //script(src="js/angular.min.js.map")
    script(src="js/angular-animate.js")
    script(src="js/angular-cookies.js")
    script(src="js/angular-resource.js")
    script(src="js/angular-route.js")
    script(src="js/angular-sanitize.js")
    script(src="js/angular-touch.js")
    script(src="js/angular-base64.js")
    //script(src="js/ngStorage.js")
    script(src="///da189i1jfloii.cloudfront.net/js/kinvey-angular-1.1.4.min.js")
    //script(src="js/bootstrap.js")
    script(src="js/ui-bootstrap-tpls.js")
    script(src="js/showdown.js")
    script(src="js/markdown.js")
    script(src="app/epicEditor/js/epiceditor.js")
    script(src="app/app.js")
    script(src="app/mainController.js")
    script(src="app/blog/main.js")
    script(src="app/blog/blogController.js")
    script(src="app/user/main.js")
    script(src="app/user/user.js")
    script(src="app/services.js")
    script(src="app/directives.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-38590378-4', 'jamesbrinkerhoff.com');
      ga('send', 'pageview');
